@mixin transition-duration($duration: .8s) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-property($property: all) {
  -webkit-transition-property: -webkit-transform, $property;
  -moz-transition-property: -moz-transform, $property;
  -ms-transition-property: -ms-transform, $property;
  -o-transition-property: -o-transform, $property;
  transition-property: transform, $property;
}

@mixin transition($properties...) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -ms-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}
