.top-bar {
  @media #{$small-only} {
    .name {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      background: #eee;
      border-radius: 10px 10px 0 0;
      border: 1px solid #bbb;
    }
  }
  @media #{$medium-up} {
    .name {
      font-size: 0;
    }
  }
  .toggle-topbar {
    a {
      padding-left: 5px !important;
      border: 1px solid #888;
      border-radius: 5px;
      background: #fff;
    }
    &:hover a {
      background-color: #ccc;
    }
    &.menu-icon {

    }
  }
}

.top-bar-section {
  @media #{$medium-up} {
    .right {
      li:last-child a {
        border-radius: 0 10px 10px 0;
      }
      li:first-child a {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  @media #{$small-only} {
    li:not(.has-form).active a:not(.button) {
      background-color: #649ed1;
    }
    &> ul {
      border-color: #888;
      border-width: 0px 1px 1px;
      border-style: solid;
      li>a {
        background: #eee;
      }
    }
  }

  li:not(.has-form) a:not(.button) {
    background-color: #eeeef8;
    box-shadow: 0px 0px 2px 0px lightskyblue;
  }

  .dropdown {
    li:not(.has-form) a:not(.button) {
      border-color: scale-color($topbar-dropdown-bg, $lightness: -30%);
      border-style: solid;
      border-width: 0 1px;
      border-radius: 0;
      background: #eeeef8;
    }

    li:last-child a:not(.button) {
      border-bottom: 1px solid #333;
    }
  }
}

.top-bar-section .dropdown li a {
  background: rgba(255, 255, 255, 1); }
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: rgba(255, 255, 255, 1); }
