.product-enter {
  opacity: 0.00;
  transition: opacity 1s ease-in;
  // transform: scale(0.2);

  &.product-enter-active {
    opacity: 1.00;
    // transform: scale(1.0);
  }
}

.product-leave {
  opacity: 1.00;
  position: absolute;
  transition: opacity 1s ease-out;
  // transform: scale(1.0);

  &.product-leave-active {
    opacity: 0.00;
    // transform: scale(0.2);
  }
}

// #engagement-ring-archive {
//   opacity: 1.0;
//   background-color: white;
//   transition-property: opacity;
//   transition-duration: 0.4s;

//   &.updating {
//     background-color: red;
//     opacity: 0.0;
//   }
//   &.nono {
//     visibility: hidden;
//   }

//   // li {
//   //   transition-property: all;
//   //   transition-duration: 0.4s;
//   // }
// }

#engagement-ring-archive {
  perspective: 3000px;
  perspective-origin: 50% 50%;
  li {
    list-style: none;
    position: absolute;
  }
}
