.product-enter {
  opacity: 0.00;
  // transform: translateX(200em);
  transition: all .8s ease-out;

  &.product-enter-active {
    opacity: 1.00;
    // transform: translateX(0em);
  }
}

.product-leave {
  opacity: 0.01;
  // transform: translateX(-200em);
  transition: all .1s ease-in;

  &.product-leave-active {
    opacity: 0.00;
  }
}
